/* Empty. Add your own CSS if you like */
body
{
	
}

.background
{
	position:absolute;
	margin:0px;
	padding:0px;
	width:100%;
}

.centerDiv
{
	width:100%;
	position:relative; 
}


.boxes
{
	overflow:hidden;
	width:100%;
	position:relative;
}

.boxLeft
{
	margin-top:100px;
	float:left;
	width:30%;
	margin-left:13%;
}

.boxRight 
{
	margin-top:150px;
	float:right;
	width:33.3%;
	/* margin-right:13%; */
}

.boxRight img
{
	width:80%;
}

.InputText
{
	width:100%; 
	color:#FFF !important;
	font-size:35px !important;
	background-color:transparent; 
	margin-top:4px; 
	margin-left:-95px; 
	text-align:center;
	height:55px !important;
}

.InputTextLargeLeft
{
	width:100%; 
	color:#FFF !important;
	font-size:35px !important;
	background-color:transparent; 
	margin-top:40px; 
	text-align:center;
}

.InputTextLargeRight
{
	width:100%; 
	color:#FFF !important;
	font-size:35px !important;
	background-color:transparent; 
	margin-top:40px; 
	margin-left:-15px; 
	text-align:center;
}


	.PackageForm
	{
		width:67%;
		margin-top:20px;
	}
	
	.PackageFormDiv
	{
		width:85%;
		margin-top:10px;
		text-align:right;
	}
	
	.PackageFormText
	{
		margin-top:15px;
		text-align:right;
		background-color:white;
		width:100%;
		padding:8px;
		padding-top:12px !important;
		font-size:16px !important;
		padding-right:20px;
		
	}

	.searchInput
	{
		width:100%;
		margin-top:20px;
	}


	.searchInputDiv
	{
		width:90%;
	}

	
.dateInput
{
	text-align:right  !important;
	color:white !important;
	font-weight:bold;
	direction:rtl;
	margin-top:15px;
	padding-top:12px !important;	
}


.InputStyle
{
	position:relative;
	font-size:16px;
	font-weight:bold;
	color:white !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
	height:50px !important;
	text-align:center;
	z-index:100;
	width:100%;
	background-color:transparent !important;
    border:2px solid white !important;
	margin-top:7px !important;
}

.sideLogo
{
	width:300px;
	position:absolute;
	top:50px;
}
	
/*
	
input[type="date"]
{
    display:block;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em;
}

*/