<ion-view view-title="Playlists" hide-back-button="true" hide-nav-bar="true">
  
   <ion-footer-bar align-title="left" style="padding:0px; margin:0px; height:40px;">
       <img src="img/footer.png" style="width:100%" />
    </ion-footer-bar>
    
    
  <ion-content style="overflow:hidden">
  	<div class="background">
    	<img src="img/background.png" style="height:100%" />
    </div>
    <div class="centerDiv" align="center">
            <div style="width:60%; padding-top:35px;">
                <img src="img/p3_head.png" style="width:100%" />
            </div>
            <div style="width:100%; padding-top:15px;">
            	<div style="position:absolute; width:100%;">
                	<div class="InputTextLargeLeft">עד כ - {{week |  number}} ש"ח בשבוע</div>
                </div>
                <img src="img/pass-left.png" style="width:100%" />
            </div>
            <div style="width:100%; padding-top:15px;">
            	<div style="position:absolute; width:100%;">
                	<div class="InputTextLargeRight">ועד כ - {{month |  number}} ש"ח בחודש</div>
                </div>
                <img src="img/pass-right.png" style="width:100%" />
            </div>
             <div style="width:30%; padding-top:15px;" ng-click="playVideo()">
                <img src="img/p3_btn1.png" style="width:100%" />
            </div>
             <div style="width:30%; padding-top:0px;" ng-click="goRegister()">
                <img src="img/p3_btn2.png" style="width:100%" />
            </div>
            <div style="width:100%" align="left">
                <div style="width:25%; padding-top:65px;" ng-click="goInfo()">
                    <img src="img/p3_btn3.png" style="width:100%" />
                </div>
            </div>
    </div>
  </ion-content>
  
          <script id="video-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						  <div class="searchInput" align="center">
								 <div class="searchInputDiv">
										<div >
											<div id="videoWrapper" class="videoWrapper" style="margin-top:200px;">
												<iframe width="560" id="VideoPlayer" height="349" src="{{VideoLink}}" frameborder="0" allowfullscreen></iframe>
											</div>						
										</div>
								 </div>
						  </div>  
  
					</div>
          </script>

		  
</ion-view>
