<ion-view view-title="Playlists" hide-back-button="true" hide-nav-bar="true">


    <ion-footer-bar align-title="left" style="padding:0px; margin:0px; height:40px;">
        <img src="img/footer.png" style="width:100%" />
    </ion-footer-bar>


    <ion-content >
        <div style="width:100%;" align="center">


			
            <div style="font-size:15px; padding-bottom:10px;">
                <i class="ion-android-checkbox-outline-blank" ng-show="fields.underage == '0'" style="font-size:30px;" ng-click="checkSelected(0)" ></i>
                <i class="ion-android-checkbox-outline" ng-show="fields.underage == '1'" style="font-size:30px;" ng-click="checkSelected(1)"></i>
                <span>מתחת לגיל 18</span>
            </div>
			
            <div style="font-size:15px; padding-bottom:10px;">
                <i class="ion-android-checkbox-outline-blank" ng-show="fields.parentunder == '0'" style="font-size:30px;" ng-click="checkSelected(2)" ></i>
                <i class="ion-android-checkbox-outline" ng-show="fields.parentunder == '1'" style="font-size:30px;" ng-click="checkSelected(3)"></i>
                <span>הורה עם ילד מתחת לגיל 18</span>
            </div>

            <div style="font-size:15px; padding-bottom:10px;">
                <i class="ion-android-checkbox-outline-blank" ng-show="fields.nonsmoker == '0'" style="font-size:30px;" ng-click="checkSelected(4)" ></i>
                <i class="ion-android-checkbox-outline" ng-show="fields.nonsmoker == '1'" style="font-size:30px;" ng-click="checkSelected(5)"></i>
                <span>לא מעשן</span>
            </div>

            <div style="font-size:15px; padding-bottom:10px;">
                <i class="ion-android-checkbox-outline-blank" ng-show="fields.smoker == '0'" style="font-size:30px;" ng-click="checkSelected(6)" ></i>
                <i class="ion-android-checkbox-outline" ng-show="fields.smoker == '1'" style="font-size:30px;" ng-click="checkSelected(7)"></i>
                <span>מעשן</span>
            </div>
			
			<div ng-if="fields.smoker == '1'">

            <div style="font-size:15px; padding-bottom:10px;">
                <i class="ion-android-checkbox-outline-blank" ng-show="fields.uninformed == '0'" style="font-size:30px;" ng-click="checkSelected(8)" ></i>
                <i class="ion-android-checkbox-outline" ng-show="fields.uninformed == '1'" style="font-size:30px;" ng-click="checkSelected(9)"></i>
                <span>לא מעוניין לקבל פרטים</span>
            </div>

            <div style="font-size:15px; padding-bottom:10px;">
                <i class="ion-android-checkbox-outline-blank" ng-show="fields.informed == '0'" style="font-size:30px;" ng-click="checkSelected(10)" ></i>
                <i class="ion-android-checkbox-outline" ng-show="fields.informed == '1'" style="font-size:30px;" ng-click="checkSelected(11)"></i>
                <span>מעוניין לקבל פרטים</span>
            </div>

			
			
			
			</div>

			
			
            <div ng-click="saveOption()">
                <img src="img/new/n1.jpg" style="width:100%;">
            </div>




        </div>
    </ion-content>
</ion-view>
