<ion-view view-title="Playlists" hide-back-button="true" hide-nav-bar="true">
  
   
   <ion-footer-bar align-title="left" style="padding:0px; margin:0px; height:40px;">
       <img src="img/footer.png" style="width:100%" />
    </ion-footer-bar>
  
    
  <ion-content style="overflow:hidden !important;">
  <div style="width:100%; overflow:hidden" align="center">
  	<div class="background" ng-style="{height: iframeHeight + 'px'}">
    	<img src="img/new/background.png" style=" width:100%; " />
    </div>

    <div class="boxes">


        <div class="boxRight" align="left" ng-click="setPackage(2)">
			<img src="img/virlogo.png"  />
        </div>	
		

        <div class="boxRight" ng-click="setPackage(1)">
			<img src="img/new/dunhill.png"  />
        </div>

    	<div class="boxRight" align="right" ng-click="setPackage(0)">
        	<img src="img/new/pallmall.png"  />
        </div>
		
    </div>
  </div>
  </ion-content>
</ion-view>
