<ion-view view-title="Playlists" hide-back-button="true" hide-nav-bar="true">
  
   <ion-footer-bar align-title="left" style="padding:0px; margin:0px; height:40px;">
       <img src="img/footer.png" style="width:100%" />
    </ion-footer-bar>
    
    
  <ion-content style="overflow:hidden">
  	<div class="background">
    	<img src="img/background.png" style="height:100%" />
    </div>
    <div class="centerDiv" align="center">
            <div style="width:60%; padding-top:135px;">
                <img src="img/win.png" style="width:100%" />
            </div>
            <div style="width:100%" align="left">
                <div style="width:25%; " ng-click="startNew()">
                    <img src="img/p3_btn3.png" style="margin-top: -15px; width:100%" />
                </div>
            </div>
    </div>
  </ion-content>
</ion-view>
